<!DOCTYPE html>
<html>
<head>
	<title>Zero4 Book </title>
   
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/prettyPhoto.css" rel="stylesheet">
    <link href="/css/price-range.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
	<link href="/css/responsive.css" rel="stylesheet">
	<link href="/css/temp.css" rel="stylesheet">
	<link href="/css/login.css" rel="stylesheet">
	<link href="/css/dangky.css" rel="stylesheet">
	<link href="/css1/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	{{!-- // <script src="js/jquery.js"></script>
	// <script src="js/bootstrap.min.js"></script> --}}
	{{{_sections.css}}}
</head>
<body>
	<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6 ">
						<div class="contactinfo">
							<!-- <ul class="nav nav-pills">
								<li><a href=""><i class="fa fa-phone"></i>  Hotline: +84 982 004216</a></li>
								<li><a href=""><i class="fa fa-envelope"></i>  huynhhanthanh1997@gmail.com</a></li>
							</ul> -->
						</div>
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
							  	<li><a href="https://www.facebook.com/profile.php?id=100004511948486"><i class="fa fa-facebook"></i></a></li>
							  	<li><a href=""><i class="fa fa-twitter"></i></a></li>
								<li><a href=""><i class="fa fa-linkedin"></i></a></li>
								<li><a href=""><i class="fa fa-dribbble"></i></a></li>
								<li><a href=""><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="index.html"><img class="iconz4" src="/images_temp/backround.jpg" alt="" width="100" height="45"/><font size="5" color="red">&nbsp;&nbsp;ZERO4 BOOK</font></a>
						</div>
					</div>
					<div class="col-sm-8 ">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								{{#if layoutVM.isLogged}}
								<form id="frmLogout" method="post" action="/account/logout"></form>
								<li><a href="/cart{{!-- /{{layoutVM.curUser.f_ID}} --}}"><span class="fa fa-shopping-cart"></span>  Shopping Cart ({{layoutVM.cartSummary}} items)</a></li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown"><strong>Hi, {{layoutVM.curUser.f_Username}}!</strong> <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="/account/profile/{{layoutVM.curUser.f_ID}}">Profile</a></li>
										<li role="separator" class="divider"></li>
										<li><a href="/account/pay/{{layoutVM.curUser.f_ID}}">Pay</a></li>
										{{!-- <li role="separator" class="divider"></li> --}}
									</br>
									<li><a href="/account/LichSuThanhToan/{{layoutVM.curUser.f_ID}}">History Pay</a></li>
										{{!-- <li role="separator" class="divider"></li> --}}
									</br>
										<li><a id="lnkLogout" href="javascript:;">Logout</a></li>
									</ul>
								</li>
								{{!-- <div class="col-sm-1.5">						<div class="search_box pull-right">
							

							<button class="btn btn-warning"  style="width:auto;">
								<span class="fa fa-shopping-cart"></span>
							GIỎ HÀNG
							</button>
						</div>
					</div> --}}
								{{else}}
								

								<li><em class="fa fa-user"></em>
								<!--form dang ky-->		
							   
									<button class="buttonLogin"  style="width:auto;" onclick="window.location.href='/account/register'">Đăng ký</button>

								

							   <!--ket thuc-->

								</li>
							  	<li>
							  		<i class="fa fa-lock"></i>

									<!--Tao form dang nhap-->
									
								   
									<button class="buttonLogin"  style="width:auto;" onclick="window.location.href='/account/login'">Đăng nhập</button>

								</li>
								{{/if}}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
	
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-7.5">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div  class="mainmenu pull-left" >
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="/home" class="active">Trang Chủ</a></li>
								<li class="dropdown"><a href="#" class="active">Chương Trình Khuyến Mãi<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
										<li><a href="product-details.html" class="active">Giảm Giá</a></li>   
										<li><a href="login.html" class="active">Tri Ân Khách Hàng</a></li> 
                                    </ul>
                                </li>  
                                <li><a href="contact-us.html" class="active">Khóa Học Trực tuyến  </a></li>
                                <li><a href="contact-us.html" class="active">Tin Tức</a></li>
								<li><a href="contact-us.html" class="active">Liên Hệ  </a></li>
                               <!--  <li><a  class="active" href="design-clothes.html">Thiết Kế Áo </a></li> -->
                               <!--  <li><a  class="active"> Tuyển Dụng </a></li>
                                <li><a  class="active"> Dịch Vụ</a></li>
                                <li><a  class="active"> Sản Phẩm  </a></li> -->
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						{{!--  --}}
						<form method="POST" action="/abcd" >
									
									<input class="input" placeholder="Nhập" name="searchntt">
									<button class=" btn-outline-success my-2 my-sm-0" type="submit" >Tìm kiếm</button>
						</form>	
						{{!--  --}}
						{{!-- <div class="search_box pull-right">
							<input type="text" placeholder="Tìm kiếm"/>
							 <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
						</div> --}}
					</div>

					{{!-- <div class="col-md-6">
							<div class="header-search">
								<form method="POST" action="/search/action" >
									<select class="input-select" name="option">
										<option value="0">Tên sản phẩm</option>
										<option value="1">Loại sản phẩm</option>
										<option value="2">Nhà sản xuất</option>
									</select>
									<input class="input" placeholder="Bạn đang tìm sản phẩm nào?" name="searchEle">
									<button class="search-btn" type="submit" >Tìm kiếm</button>
								</form>
							</div>
						</div> --}}
					{{!-- <div class="col-sm-1.5">						<div class="search_box pull-right">
							

							<button class="btn btn-warning"  style="width:auto;">
								<span class="fa fa-shopping-cart"></span>
							GIỎ HÀNG
							</button>
						</div>
					</div> --}}
				</div>
				</div>
			</div>
	</header>





	<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
	
					<div class="col-sm-2">
				
					<div class="brands-products1"><!--brands_products-->
							<h2>Danh Mục Sách </h2>
							<div class="brands-name1">								
								<ul class="nav nav-pills nav-stacked">
									<li>
									
										{{#each layoutVM.categories}}
										<a href="/product/byCat/{{CatID}}" class="list-group-item"><span class="pull-right "> <span class="fa fa-angle-double-right"></span></span>{{CatName}}</a>
										{{/each}}
										</br>
										

										<h2>Nhà Xuất Bản</h2>
										{{#each layoutNXB.NhaXuatBan}}
										<a href="/product/byNXB/{{NXBID}}" class="list-group-item"><span class="pull-right "> <span class="fa fa-angle-double-right"></span></span>{{NXBName}}</a>
										{{/each}}

									</li>
								</u>
							</div>
						</div><!--/brands_products-->
				</div>
				{{!-- <div class="col-sm-10">
					{{{body}}}
					
					
				</div>	
 --}}
					

				<div class="col-sm-10">
					
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							{{{_sections.title}}}
						</h3>
					</div>
					<div class="panel-body">
						{{{body}}}
					</div>
				</div>
			

				</div>	


			<!-- -->					
			</div>
		</div>
	</section><!--/slider-->







	<footer id="footer"><!--Footer-->
		
		<div class="footer-widget">
			<div class="container">
				<div class="row ">
					<!-- <div class="col-sm-4">
						<div class="single-widget">
							<h2>SHOP THỜI TRANG ONLINE </h2>
							<h2><i class="fa fa-location-arrow"></i> VP:Tầng 16 - CC Phú Đạt - Đường D5 - P 25 - Q.Bình Thạnh TP.HCM</h2>
							<h2><i class="fa fa-phone"></i>0933222836</h2>
							<h2><i class="fa fa-mail-forward"></i>Mail</h2>
						</div>
					</div> -->
					<div class="col-sm-4 padding-center">
						<div class="single-widget">
							<h2><img src="images_temp/backround.jpg" alt="" width="100" height="45"/><font size="5" color="red">ZERO4 BOOK</font> </h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#"><span class="glyphicon glyphicon-map-marker"></span><font size="2" color="White"> 54 Nguyễn Văn Cừ, Q5, TP HCM</font></a></li>
								<li><a href="#"><span class="glyphicon glyphicon-earphone"></span><font size="2" color="White"> 0981017093</font></a></li>
								<li><a href="#"><span class="glyphicon glyphicon-envelope"></span><font size="2" color="White"> vantrung1512616@gmail.com</font></a></li>
								
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Thông tin</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">Thông tin</a></li>
								<li><a href="#">Tin Tức </a></li>
								<li><a href="#">Tuyển Dụng</a></li>
								<li><a href="#">Liên Hệ</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2> Chính Sách </h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">chính sách đổi trả</a></li>
								<li><a href="#">chính sách bảo hành </a></li>
								<li><a href="#">chính sách thanh toán</a></li>
								<li><a href="#">chính sách vận chuyển</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2> Điều Khoản</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">Điều Khoản Sử Dụng</a></li>
								<li><a href="#">Điều Khoản Tiện ích</a></li>
								<li><a href="#">Dịch Vụ Tiện ích</a></li>
								<li><a href="#">Quyền Sở Hữu Trí Tuệ</a></li>
							</ul>
						</div>
					</div>
					<!-- <div class="col-sm-2">
						<div class="single-widget">
							<h2> <a href="https://www.facebook.com/son.vuong.7505"> Facebook</a></h2>
							<img src="images/shop/facebook.png" width="270">
						</div>
					</div> -->
					
					
				</div>
			</div>
		</div>
		
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Copyright © 2013 Zero4-Inc. All rights reserved.</p>
					<p class="pull-right">Designed by <span><a target="_blank" href="http://www.themeum.com">Zero4 Group</a></span></p>
				</div>
			</div>
		</div>
		
	</footer><!--/Footer-->
	
	<script src='https://www.google.com/recaptcha/api.js'></script>
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.scrollUp.min.js"></script>
	<script src="/js/price-range.js"></script>
    <script src="/js/jquery.prettyPhoto.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/login.js"></script>
    <script type="text/javascript">
		$('#lnkLogout').on('click', function() {
		    $('#frmLogout').submit();
		});
	</script>
    {{{_sections.js}}}
</body>
</html>