{{#section 'title'}}
    Product
{{/section}}

{{#with product}}

<div class="container">
        <div class="col-sm-4">
            <img class="anhsp2" src="/images/{{ProID}}/main_images.jpg" width="300" height="600">

        </div>
        <div class="col-sm-4 spAAA">
            <br>
            <br>

            <p class="spDDD">Thông tin chi tiết sản phẩm</p>
            <h4>{{ProName}}</h4>
            <p>Tác giả: <a href="https://vi.wikipedia.org/wiki/Nam_Cao">{{TinyDes}}</a></p>
            <p>
                {{{FullDes}}}
            </p>
            <p>
                Tồn kho: {{Quantity}}
            </p>
            </br>
            <p>
                Ngày đăng tải: {{DateDangTai}}
            </p>
            
            <p>
                Số lượng đã bán: {{SoLuongDaBan}}
            
            <p>
            
            <p>
                Số lượt xem: {{SoLuotXem}}
            </p>
            
           
        </div>
        <div class="col-sm-3">
            <br>
            <br>
            <div class="spBBB">
                <div class="spCCC">Thông tin Giá</div>
                <hr>
                <div>Giá bán: &nbsp;&nbsp;&nbsp;&nbsp;<span class="giaban"> <h4>{{number_format Price}}  VND</h4></span> </div>
                
                <div>Chất lượng sách: &nbsp;&nbsp;&nbsp;&nbsp;Loại A</div>
                <div>
                    Đánh giá: &nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                </div>
                <hr>
                <div class="benphai tietkiem"><i class="fa fa-check-circle"></i>Có hàng</div><br>
                {{/with}}
                {{#if layoutVM.isLogged}}
                    <form class="form-horizontal" id="frmAddItem" method="post" action="/cart/add">
                        <div class="form-group">
                            <div class="col-sm-4">
                                <div class="input-group" style="margin-left: 24px;">
                                    <input name="proId" type="hidden" value="{{product.ProID}}">
                                    <input name="quantity" type="text" class="form-control" placeholder="Slg" value="1">
                                        <button class="btn btn-primary"  type="submit">
                                            <span class="fa fa-plus"></span>
                                            ADD
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                {{/if}}
            </div>
           
        </div>

    </div>










<hr>
<h4>Sách cùng loại</h4>


{{!-- 
 --}}
 {{#if noCungLoaiSP}}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        NO PRODUCTS
    </div>
</div>
{{else}}
<div class="row">
    <form id="frmAddItem" method="post" action="/cart/add">
        <input type="hidden" name="proId" id="txtP">
        <input type="hidden" name="quantity" id="txtQ">
    </form>
    {{#each CungLoaiSP}}
    <div class="col-sm-6 col-md-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="/images/{{ProID}}/main_images.jpg" alt="{{ProName}}" title="{{ProName}}">     
                        <h4>{{ProName}}</h4>
                        <h4>{{number_format Price}}</h4>
                        
                        <p>Số lượng đã bán: {{SoLuongDaBan}} </p>

                        <p style="height: 60px">{{TinyDes}}</p>
                        <p>
                            <a href="/product/detail/{{ProID}}" class="btn btn-primary">
                                <span class="fa fa-eye"></span>
                                View Details
                            </a>
                            {{#if ../layoutVM.isLogged}}
                            <a data-proid="{{ProID}}" href="javascript:;" class="btn btn-primary addItem"{{!-- class="btn btn-default addItem" --}}>
                                <span class="fa fa-shopping-cart"></span>
                                Add
                            </a>
                            {{/if}}
                        </p>


                </div>
            </div>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                
                <li><a href="#"><i class="fa fa-plus-square "></i>Đánh Giá </a></li>
            </ul>
        </div>
    </div>  
    </div>
    {{/each}}
</div>

{{/if}}

<hr>
<h4>Sách cùng NXB</h4>
 {{#if noCungNXB}}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        NO PRODUCTS
    </div>
</div>
{{else}}
<div class="row">
    <form id="frmAddItem" method="post" action="/cart/add">
        <input type="hidden" name="proId" id="txtP">
        <input type="hidden" name="quantity" id="txtQ">
    </form>
    {{#each CungNXB}}
    <div class="col-sm-6 col-md-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="/images/{{ProID}}/main_images.jpg" alt="{{ProName}}" title="{{ProName}}">
                        <h4>{{ProName}}</h4>
                        <h4>{{number_format Price}}</h4>
                        
                        <p>Số lượng đã bán: {{SoLuongDaBan}} </p>

                        <p style="height: 60px">{{TinyDes}}</p>
                        <p>
                            <a href="/product/detail/{{ProID}}" class="btn btn-primary">
                                <span class="fa fa-eye"></span>
                                View Details
                            </a>
                            {{#if ../layoutVM.isLogged}}
                            <a data-proid="{{ProID}}" href="javascript:;" class="btn btn-primary addItem"{{!-- class="btn btn-default addItem" --}}>
                                <span class="fa fa-shopping-cart"></span>
                                Add
                            </a>
                            {{/if}}
                        </p>


                </div>
            </div>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                
                <li><a href="#"><i class="fa fa-plus-square "></i>Đánh Giá </a></li>
            </ul>
        </div>
    </div>  
    </div>
    {{/each}}
</div>

{{/if}}