{{#section 'title'}}
    Danh Sách Nổi Bật
{{/section}}
<h4>Bán Chạy Nhất</h4>
</br>



{{#if noProducts}}
<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
		NO PRODUCTS
	</div>
</div>
{{else}}
<div class="row">
	<form id="frmAddItem" method="post" action="/cart/add">
		<input type="hidden" name="proId" id="txtP">
		<input type="hidden" name="quantity" id="txtQ">
	</form>
	{{#each products}}
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<img src="/images/{{ProID}}/main_images.jpg" alt="{{ProName}}" title="{{ProName}}">  <!--sua dia chi -->
			<div class="caption">
				<h4>{{ProName}}</h4>
				<h4>{{number_format Price}}</h4>
				
				<p>Số lượng đã bán: {{SoLuongDaBan}} </p>

				<p style="height: 60px">{{TinyDes}}</p>

				<p>
					<a href="/product/detail/{{ProID}}" class="btn btn-primary">
						<span class="fa fa-eye"></span>
						View Details
					</a>
					{{#if ../layoutVM.isLogged}}
					<a data-proid="{{ProID}}" href="javascript:;" class="btn btn-primary addItem"{{!-- class="btn btn-default addItem" --}}>
						<span class="fa fa-shopping-cart"></span>
						Add
					</a>
					{{/if}}
				</p>
			</div>
		</div>
	</div>
	{{/each}}
</div>

{{/if}}
<a href="/product/BanChay"><i class="fa fa-eye"></i>  Xem thêm</a>	

{{!-- 
 --}}
<hr/>
</br>
<h4>Sách được xem nhiều</h4>


{{#if noProducts2}}
<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
		NO PRODUCTS
	</div>
</div>
{{else}}
<div class="row">
	<form id="frmAddItem" method="post" action="/cart/add">
		<input type="hidden" name="proId" id="txtP">
		<input type="hidden" name="quantity" id="txtQ">
	</form>
	{{#each products2}}
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<img src="/images/{{ProID}}/main_images.jpg" alt="{{ProName}}" title="{{ProName}}">  <!--sua dia chi -->
			<div class="caption">
				<h4>{{ProName}}</h4>
				<h4>{{number_format Price}}</h4>
				
				<p>Số lượt xem: {{SoLuotXem}} </p>

				<p style="height: 60px">{{TinyDes}}</p>

				<p>
					<a href="/product/detail/{{ProID}}" class="btn btn-primary">
						<span class="fa fa-eye"></span>
						View Details
					</a>
					{{#if ../layoutVM.isLogged}}
					<a data-proid="{{ProID}}" href="javascript:;" class="btn btn-primary addItem"{{!-- class="btn btn-default addItem" --}}>
						<span class="fa fa-shopping-cart"></span>
						Add
					</a>
					{{/if}}
				</p>
			</div>
		</div>
	</div>
	{{/each}}
</div>

{{/if}}
<a href="/product/XemNhieu"><i class="fa fa-eye"></i>  Xem thêm</a>	
{{!--  --}}
<hr/>
</br>
<h4>Sách mới phát hành</h4>


{{#if noProducts3}}
<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
		NO PRODUCTS
	</div>
</div>
{{else}}
<div class="row">
	<form id="frmAddItem" method="post" action="/cart/add">
		<input type="hidden" name="proId" id="txtP">
		<input type="hidden" name="quantity" id="txtQ">
	</form>
	{{#each products3}}
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<img src="/images/{{ProID}}/main_images.jpg" alt="{{ProName}}" title="{{ProName}}">  <!--sua dia chi -->
			<div class="caption">
				<h4>{{ProName}}</h4>
				<h4>{{number_format Price}}</h4>
				
				<p>Ngày phát hành: {{DateDangTai}} </p>

				<p style="height: 60px">{{TinyDes}}</p>

				<p>
					<a href="/product/detail/{{ProID}}" class="btn btn-primary">
						<span class="fa fa-eye"></span>
						View Details
					</a>
					{{#if ../layoutVM.isLogged}}
					<a data-proid="{{ProID}}" href="javascript:;" class="btn btn-primary addItem"{{!-- class="btn btn-default addItem" --}}>
						<span class="fa fa-shopping-cart"></span>
						Add
					</a>
					{{/if}}
				</p>
			</div>
		</div>
	</div>
	{{/each}}
</div>

{{/if}}
<a href="/product/MoiPhatHanh"><i class="fa fa-eye"></i>  Xem thêm</a>	




