{{#section 'title'}}
    Danh Sách Nổi Bật
{{/section}}
<div class="row"
<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
							<li data-target="#slider-carousel" data-slide-to="2"></li>
						</ol>
						
						<div class="carousel-inner">
							<div class="item active">
								<div class="col-sm-3">
									<h1><span>Rộn Ràng SALE</span></h1>
									<h2>Ngày 20/06/2018 - 25/06/2018</h2>
									<p>Sale tất cả sản phẩm tại của hàng. Up to 65%</p>
									
								</div>
								<div class="col-sm-9">
									<img src="images_temp/sale.jpg"  alt =" tri thuc" width="500"  height="473" > 
								</div>
							</div>
							<div class="item">
								<div class="col-sm-3">

									<h1><span></span>EVENT MEMBER VIP</h1>
									<h2>Tri Ân Thành Viên</h2>
									<p> Từ ngày 30/06/2018 - 31/07/2018 tặng quà cho hóa đơn 500000 VND</p>
									
								</div>
								<div class="col-sm-9">
									<img src="images_temp/gif.jpg" width="500" height="473">
								</div>
							</div>


								  	
							
							<div class="item">
								<div class="col-sm-3 ">
									<h1><span>Sách</span>-Tiểu Thuyết</h1>
									<h2>Đưa Thế Giới Lại Gần Hơn</h2>
									<button class="btn btn-default" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Mua ngay</button>
									
								</div>
								<div class="col-sm-9">
									<img src="images_temp/trithuc2.jpg" width="500" height="473">
								</div>
							</div>
							
						</div>
						
						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
					
</div>
</div>



</br>


{{#section 'js'}}
<script type="text/javascript">
	$('.addItem').on('click', function() {
	    var id = $(this).data('proid');
	    $('#txtP').val(id);
	    $('#txtQ').val(1);
	    $('#frmAddItem').submit();
	});
</script>
{{/section}}



{{#if noProducts}}
<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
		NO PRODUCTS
	</div>
</div>
{{else}}
</br>
</br>
<h2 class="title text-center">Bán Chạy Nhất</h2>
<div class="row features_items">
	<form id="frmAddItem" method="post" action="/cart/add">
		<input type="hidden" name="proId" id="txtP">
		<input type="hidden" name="quantity" id="txtQ">
	</form>
	{{#each products}}
	<div class="col-sm-6 col-md-4">
		<div class="product-image-wrapper">
			<div class="single-products">
				<div class="productinfo text-center">
					<img src="/images/{{ProID}}/main_images.jpg" alt="{{ProName}}" title="{{ProName}} alt="Ảnh Sách Bán Theo Loại" />
						<h4>{{ProName}}</h4>
						<h4>{{number_format Price}}</h4>
						
						<p>Số lượng đã bán: {{SoLuongDaBan}} </p>

						<p style="height: 60px">{{TinyDes}}</p>
						<p>
							<a href="/product/detail/{{ProID}}" class="btn btn-primary">
								<span class="fa fa-eye"></span>
								View Details
							</a>
							{{#if ../layoutVM.isLogged}}
							<a data-proid="{{ProID}}" href="javascript:;" class="btn btn-primary addItem"{{!-- class="btn btn-default addItem" --}}>
								<span class="fa fa-shopping-cart"></span>
								Add
							</a>
							{{/if}}
						</p>


				</div>
			</div>
		<div class="choose">
			<ul class="nav nav-pills nav-justified">
				
				<li><a href="#"><i class="fa fa-plus-square "></i>Đánh Giá </a></li>
			</ul>
		</div>
	</div>	
	</div>
	{{/each}}
</div>

{{/if}}

<div class="pager">
	<button type="button" ><a href="/product/BanChay"><i class="fa fa-eye"></i>  Xem thêm</a></button>	
</div>
	

{{!-- 
 --}}
<hr/>
</br>
<h2 class="title text-center">Xem Nhiều Nhất</h2>


{{#if noProducts2}}
<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
		NO PRODUCTS
	</div>
</div>
{{else}}
<div class="row">
	<form id="frmAddItem" method="post" action="/cart/add">
		<input type="hidden" name="proId" id="txtP">
		<input type="hidden" name="quantity" id="txtQ">
	</form>
	{{#each products2}}
	<div class="col-sm-6 col-md-4">
		<div class="product-image-wrapper">
			<div class="single-products">
				<div class="productinfo text-center">
					<img src="/images/{{ProID}}/main_images.jpg" alt="{{ProName}}" title="{{ProName}} alt="Ảnh Sách Bán Theo Loại" />
						<h4>{{ProName}}</h4>
						<h4>{{number_format Price}}</h4>
						
						<p>Số Lượt Xem: {{SoLuotXem}} </p>

						<p style="height: 60px">{{TinyDes}}</p>
						<p>
							<a href="/product/detail/{{ProID}}" class="btn btn-primary">
								<span class="fa fa-eye"></span>
								View Details
							</a>
							{{#if ../layoutVM.isLogged}}
							<a data-proid="{{ProID}}" href="javascript:;" class="btn btn-primary addItem"{{!-- class="btn btn-default addItem" --}}>
								<span class="fa fa-shopping-cart"></span>
								Add
							</a>
							{{/if}}
						</p>


				</div>
			</div>
		<div class="choose">
			<ul class="nav nav-pills nav-justified">
				
				<li><a href="#"><i class="fa fa-plus-square "></i>Đánh Giá </a></li>
			</ul>
		</div>
	</div>	
	</div>
	{{/each}}
</div>

{{/if}}
<div class="pager">
	<button type="button" ><a href="/product/XemNhieu"><i class="fa fa-eye"></i>  Xem thêm</a></button>	
</div>
{{!--  --}}
<hr/>
</br>
<h2 class="title text-center">Mới Phát Hành</h2>


{{#if noProducts3}}
<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
		NO PRODUCTS
	</div>
</div>
{{else}}
<div class="row">
	<form id="frmAddItem" method="post" action="/cart/add">
		<input type="hidden" name="proId" id="txtP">
		<input type="hidden" name="quantity" id="txtQ">
	</form>
	{{#each products3}}
	<div class="col-sm-6 col-md-4">
		<div class="product-image-wrapper">
			<div class="single-products">
				<div class="productinfo text-center">
					<img src="/images/{{ProID}}/main_images.jpg" alt="{{ProName}}" title="{{ProName}} alt="Ảnh Sách Bán Theo Loại" />
						<h4>{{ProName}}</h4>
						<h4>{{number_format Price}}</h4>
						
						<p>Ngày đăng tải: {{DateDangTai}} </p>

						<p style="height: 60px">{{TinyDes}}</p>
						<p>
							<a href="/product/detail/{{ProID}}" class="btn btn-primary">
								<span class="fa fa-eye"></span>
								View Details
							</a>
							{{#if ../layoutVM.isLogged}}
							<a data-proid="{{ProID}}" href="javascript:;" class="btn btn-primary addItem"{{!-- class="btn btn-default addItem" --}}>
								<span class="fa fa-shopping-cart"></span>
								Add
							</a>
							{{/if}}
						</p>


				</div>
			</div>
		<div class="choose">
			<ul class="nav nav-pills nav-justified">
				
				<li><a href="#"><i class="fa fa-plus-square "></i>Đánh Giá </a></li>
			</ul>
		</div>
	</div>	
	</div>
	{{/each}}
</div>

{{/if}}
<div class="pager">
	<button type="button" ><a href="/product/MoiPhatHanh"><i class="fa fa-eye"></i>  Xem thêm</a></button>	
</div>
	




